@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

html {
  scroll-behavior: smooth;
}

#home {
  font-size: large;
  padding: 60px 0;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scroll-btn {
  margin-top: 30px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  font-size: 1.5rem;
}

nav.scrolled {
  background-color: #333 !important;
}

#integrantes a {
  display: grid;
  font-size: 1.5rem;
  font-weight: bold;
}

#integrantes #title {
  font-size: 4rem;
}

#integrantes #projeto {
  font-size: 1.5rem;
}

#integrantes .card {
  display: inline-block;
  flex-direction: column;
  width: 18rem;
}

#integrantes .card img {
  width: 100%;
  filter: grayscale(1);
  object-fit: cover;
}

#integrantes ul {
  display: inline-block;
  flex-direction: row;
}
